body {
    background-color: #F5F7FA;
}
.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Карточки товаров */
.product-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.favorite img {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.favorite img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 8px 0;
}

.product-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.price-block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.old-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #b0b0b0;
}

.discount-badge {
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
}

/* Бейджи */
.price-badge {
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.sale {
    background-color: #d6001c;
}

.discount {
    background-color: #22a760;
}

.product-description {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.star {
    font-weight: bold;
    color: #000000;
}

.rating-reviews {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    gap: 6px;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 4px;
}

.product-card, 
.product-title, 
.product-description, 
.price-block, 
.rating-reviews {
    user-select: none;
}

/* ---------------------------------------------------- */
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #5A67D8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.prev-btn { left: 10px; }
.next-btn { right: 10px; }

/* Рекламный блок */
#advertisementCarousel {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

#advertisementCarousel img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 5;
}

@media (max-width: 768px) {
    #advertisementCarousel img {
        height: 200px;
    }
}
/* ---------------------------------------------------- */
.btn-primary {
    background-color: #5A67D8;
    border: none;
}
.btn-primary:hover {
    background-color: #4C51BF;
}
.btn-success {
    background-color: #5861ac;
    border: none;
}
.btn-success:hover {
    background-color: #22A760;
}

.registration-section {
    width: 500px;
    margin: 0 auto;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

.auth-section {
    width: 500px;
    margin: 0 auto;
    height: 380px;
    background-color: white;
    border-radius: 20px;
}

.auth-section form {
    margin-top: 50px;
    padding: 30px;
}

#auth-btn {
    color: white;
    background-color: #4C51BF;
}

.registration-section form {
    margin-top: 50px;
    padding: 30px;
}

.reg-button-div {
    display: flex;
    justify-content: center;
}

#registation-btn {
    background-color: #4C51BF;
}

.title-reg {
    text-align: center;
}

.profile-container {
    width: 1320px;
    margin: 30px auto;
}

.redirect-signform {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.redirect-regform {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.left-panel {
    background-color: white;
    border-radius: 20px;
    height: 320px;
    width: 350px;
    padding: 20px;
}

.img-name-div {
    display: flex;
    justify-content: space-between;
}

.img-name-div a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.img-name-div a:hover {
    color: #4C51BF;
}

.discount-history-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-discount {
    width: 150px;
    height: 75px;
    padding: 10px;
    border-radius: 20px;
    background-color: #F5F7FA;
}

.card-discount label {
    font-size: 15px;
    color: #b0b0b2;
}

.user-card {
    background-color: #F5F7FA;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
}

.user-card img {
    margin-left: 10px;
}

.user-card label {
    margin-left: 10px;
}

.title-category {
    margin-top: 10px;
    color: #b0b0b2;
}

.delivery {
    padding: 20px;
    background-color: white;
    height: 250px;
    width: 950px;
    margin-left: 25px;
    border-radius: 20px;
}

.delivery p {
    font-size: 24px;
}

.right-panel {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
}

.delivery-card {
    display: flex;
    background-color: #F5F7FA;
    width: 300px;
    height: 120px;
    margin-top: 35px;
    border-radius: 20px;
}

.delivery-card img {
    margin-left: 20px;
}

.title-price-delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.title-price-delivery #status-delivery {
    font-size: 20px;
}

.title-price-delivery #date-delivery {
    font-size: 16px;
    font-weight: normal;
    color: #b0b0b2;
}

.cards-right-panel {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.card-right-panel {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 15px;
}

.card-right-panel img {
    margin-top: 15px;
}

.feedback {
    background-color: white;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 15px;
}

.services {
    display: flex;
    justify-content: space-between;
}

.service {
    background-color: #F5F7FA;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
}

.service p {
    margin-left: 20px;
}

.items-service {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}

.title-delivery {
    display: flex;
    justify-content: space-between;
}

.title-delivery a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.title-delivery a:hover {
    color: #5A67D8;
}

#count-goods, #my-goods, #goods-no-comment {
    color: #b0b0b2; 
}

.category {
    display: flex; 
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: #F5F7FA;
    border-radius: 20px;
    font-weight: bold;
}

.category a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

#profile {
    display: none;
}

#exit-btn {
    display: none;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 550px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #007bff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.search-category {
    background: #f1f1f1;
    padding: 6px 10px;
    font-size: 14px;
    color: #007bff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-category i {
    margin-left: 5px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 8px 14px;
    font-size: 15px;
    outline: none;
    background: transparent;
}

.search-input::placeholder {
    text-indent: 2px;
}

.search-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}

.search-btn:hover {
    background: #0056b3;
}

.search-category:hover {
    background-color: #f1f1f1;
}

.search-form:hover, .search-input:focus {
    border-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 85, 255, 0.2);
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.category-column {
    display: flex;
    flex-direction: column;
}

.list-group-item {
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

/* Дополнительные стили для иконок и категорий */
.modal-body .list-group-item {
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}

.modal-body .list-group-item i {
    margin-right: 10px;
    color: #007bff;
}

.modal-body .list-group-item:hover {
    background-color: #f0f0f0;
}

#selectedCategory {
    background-color: #e9ecef;
    border-radius: 30px;
    padding: 6px 10px;
    color: #007bff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#selectedCategory .close-category {
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
}

#selectedCategory.active {
    background-color: #007bff;
    color: white;
    margin-left: 5px;
}

#selectedCategory.active i {
    color: white;
}

.close-category {
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
}


/* Чаты*/
#chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#chatbox.hidden {
    display: none;
}

#chatPanel {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 400px;
    height: 550px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    display: flex;
    flex-direction: column;
}
#chatPanel.open {
    opacity: 1;
    visibility: visible;
}

.chat-header {
    background: #007bff;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.operator-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-date {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin: 10px 0;
}

.message {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 12px;
    margin: 5px 0;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

.support-message {
    align-self: flex-start;
    background: #e9ecef;
    border-radius: 12px 12px 12px 0;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 75%;
}

.user-message {
    align-self: flex-end;
    background: #007bff;
    color: white;
    border-radius: 12px 12px 0 12px;
    position: relative;
    padding-bottom: 20px;
    max-width: 75%;
}

.message-time {
    font-size: 10px;
    color: rgba(168, 166, 166, 0.925);
    position: absolute;
    right: 8px;
    bottom: 4px;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    background: white;
    display: flex;
    align-items: center;
}

.chat-input button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

.chat-input button:hover {
    background: #0056b3;
}

.support-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.support-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.support-text {
    max-width: 80%;
}

.panel-roles {
    width: 1320px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border: 1px solid black;
}

.title-panel-roles {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.panels-roles {
    display: flex;
    justify-content: space-evenly;
}

.panels-roles a {
    text-decoration: none;
    background-color: #0056b3;
    color: white;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.seller-container {
    display: flex;
    width: 1320px;
    margin: 30px auto;
}

.left-panel-seller {
    display: flex;
}

.sales-operation {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.sales-operation button {
    margin-top: 15px;
    border: none;
    background-color: #007bff;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.lines-seller {
    height: 1000px;
    width: 3px;
    border-radius: 20px;
    background-color: black;
    margin-left: 30px;
}

.right-panel-seller {
    margin-left: 100px;
}

.right-panel-seller form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.right-panel-seller form div {
    margin-top: 20px;
}

.right-panel-seller form div input, select, textarea {
    width: 100%;
}

.right-panel-seller form div textarea {
    height: 200px;
    resize: none;
}

.actions-btn {
    display: flex;
    flex-direction: column;
}

.actions-btn button {
    border: none;
    background-color: #007bff;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.all-product-seller {
    width: 500px;
}

.navigation-seller-items input {
    padding: 5px;
    width: 100%;
}

#price-product, #count-product {
    font-size: 18px;
    font-weight: bold;
}

.animated-footer {
    background: linear-gradient(135deg, #1c1c1c, #292929);
    box-shadow: 0px -3px 10px rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}

.footer-link {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-link:hover {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.social-icon {
    font-size: 1.5rem;
    color: #bbb;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #fff;
    transform: scale(1.2);
}

.sizes-cards {
    display: flex;
}

.size-card {
    border: 1px solid black;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.size-card p{
    margin-bottom: 0px;
    margin-top: -3px;
}

.cart-button {
    display: flex;
}

.product-creater {
    font-weight: 500;
    margin-bottom: 0;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    margin: 80px auto;
    width: 1250px;
}

.product-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    width: 300px;
}

#description-product {
    margin-top: 20px;
    width: 200px;
}

.product-info-card-second {
    background: rgba(251, 249, 249, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 400px;
    padding: 15px;
}

.buttons-product {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.buttons-product button {
    width: 270px;
}

.buttons-product .btn-outline-primary {
    border: 1px solid #5A67D8;
    color: #5A67D8;
}

.buttons-product .btn-outline-primary:hover {
    background-color: #5A67D8;
    color: white;
}

.delivery-product {
    display: flex;
    align-items: flex-start;
    height: 30px;
    margin-top: 20px;
}

.seller-info {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 230px;
}

.sizes-product {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;
}

.size-product {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.size-product:hover {
    color: white;
    background-color: #000000;
    cursor: pointer;
}

.img-product img {
    border-radius: 20px;
}

.seller-info a {
    text-decoration: none;
    color: black;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.all-reviews {
    margin-top: 40px;
    width: 800px;
}

.review-div {
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

.header-review {
    display: flex;
    justify-content: space-between;
}

.user-review {
    display: flex;
    width: 300px;
    height: 65px;
}

.info-user-review p {
    margin-left: 10px;
    margin-bottom: 0;
}

.text-review {
    margin-left: 75px;
    max-width: 770px;
}

.progress {
    height: 10px;
    --bs-progress-bar-bg: #5A67D8;
}